# Comments are not persistent! Use a copy.

[General]
# The name of the target UPS as reported by NUT
ups_name=UPS1
# How frequently (in seconds) to send updates to the MQTT server
#  Setting too high an interval will run the risk of clients not being aware
#  of an outage in time
update_interval=10

[MQTTBrokerConfig]
mqtt_host=localhost
mqtt_port=1883
mqtt_client_id=thermostat_02468ace
mqtt_use_authentication=True
mqtt_username=username
mqtt_password=password
mqtt_use_ssl=false
mqtt_port_ssl=8883

# All variables will be updated
[MQTTTopicConfig]
mqtt_topic_report_ups_data=topic/to/report/ups/state

#   The following two sections will populate on first run
# based on the available data/settings for the given UPS
# You will then be able to select which variables are reported/modifiable

#[UPSVariableData]
#are_data_variables_populated=false
